#files
*.pyc
*.ide
*.cache
*.user
*.suo
*.cache
*.bak
*.vsp
*.psess
*.pdb
*.mdb
*.feature.cs
*.DS_Store
*.userprefs
*.jmconfig
*.pyc

project.lock.json
launchSettings.json

#BB
/Src/BB/BB/GeneratedEvents.cs
/Src/BB/BB/ConfigConstants.cs
/Src/BB/BB/BuildInfo.generated.cs
/Src/BB/BB.Features/ErrorHandling/ErrorsInfo.cs
/Data/AdditionalAssets/
/Src/BB/BB.App.W10/BundleArtifacts

#Android Resource Designer Files
Resource.Designer.cs

#folders
.vs
.vscode
Bin
Obj
Build
/Assets
/Artifacts

#JetBrains
_ReSharper*
.idea

packages
!/Src/BB/Packages